.page {
    font-family: "TT Lakes";
    font-size: 14px;
    color: #1B1C21;
    line-height: 18px;
    letter-spacing: 0.2px;
    background-color: #F8F8F8;
}

.header {
    background-color: white;
    padding: 19px 16px;
}

.header-image {
    display: flex;
    align-items: center;
}

.header-image__bt {
    display: flex;
    border: none;
    border-radius: 50%;
    background-color: white;
    margin-right: 16px;
}

.header-image__bt:last-child {
    margin-right: 0;
}

.header-image__logo {
    margin-right: auto;
}

.header-image__bt--hidden {
    display: none;
}

.services-section__nav-list {
    display: flex;
}

.services-section__nav-item {
    background-color: #F8F8F8;
    padding: 8px 16px;
    flex-shrink: 0;
    white-space: nowrap;
}

.services-section__nav-item:hover {
    border: 2px solid #B8FFEC;
    border-radius: 6px;
}

.services-section__nav {
    overflow: auto;
    margin-left: 16px;
}

.services-section__button-container {
    display: none;
}

.services-section__nav-link {
    text-decoration: none;
    color: inherit;
    font-size: 16px;
}

.services-section {
    padding: 24px 0;
}

.services-section__title {
    margin-bottom: 24px;
    font-size: 28px;
    line-height: 40px;
    padding-left: 16px;
    color: #1B1C21;
    position: relative;
}

.services-section__title::before {
    content: "";
    background-image: url("./images/highlight.svg");
    background-repeat: no-repeat;
    position: absolute;
    width: 4px;
    height: 40px;
    left: 0;
}

.description-section {
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 16px;
}

.description-section__text--additional {
    display: none;
}

.button {
    display: flex;
    border: none;
    background-color: #F8F8F8;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
}

.logo-container {
    margin-top: 16px;
}

@media (min-width: 768px) {

    .header-image__bt--hidden {
        display: block;
    }

    .description-section__text-else {
        display: none;
    }

    .description-section__text {
        margin-bottom: 1em;
    }
      
    .description-section__text--additional {
        display: block;
        margin-top: 1em;
    }
    
    .header-image__bt--divider {
        position: relative;
        margin-left: 20px;
    }
    
    .header-image__bt--divider::after {
        content: "";
        width: 2px;
        height: 32px;
        background-color: rgba(234, 234, 234, 1);
        position: absolute;
        left: -20px;
        top: 50%;
        transform: translateY(-50%);
    }
    
    .header-image__bt--divider-right::after {
        left: auto;
        right: -20px;
    }
    
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      
      .description-section {
        flex-grow: 1;
        margin-right: 20px;
        align-self: flex-start;
      }
      
      .logo-container {
        flex-shrink: 0;
        margin-top: 0;
      }

      .logo-container__image {
        width: 360px;
        height: 208px;
        padding-right: 20px;
      }
}

@media (min-width: 1024px) {

    .header {
        display: none;
    }
    .services-section__button-container {
        display: flex;
        margin-left: auto;
    }

    .services-section__button,
    .services-section__status-button {
        display: flex;
        align-items: center;
        border: none;
        border-radius: 50%;
        background-color: #F8F8F8;
        margin-right: 32px;
    }

    .services-section {
        display: flex;
        flex-wrap: wrap;
        padding-top: 42px;
        padding-bottom: 16px;
    }

    .services-section__button-text,
    .services-section__status-button-text {
        align-self: center;
        padding-right: 9px;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        color: #1B1C21;
    }

    .description-section__text-else {
        display: block;
    }

    .services-section__nav-list {
        flex-wrap: wrap;
    }

    .logo-container__image {
        width: 532px;
        height: 307px;
    }

}



